@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*App css*/
body{
    background-color: #07000d;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    color: white;
    font-family:  'Rubik', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0 1rem;
}
.form{
    display: flex;
    gap: 0.5rem;
    margin: 1rem auto;
    width: 50%;
}

.form__input{
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: none;
    outline: none;
}
.form__input:hover,
.form__input:focus{
    background-color: rgba(255, 255, 255, 0.85);
}

.form__button{
    border: none;
    border-radius: 0.25rem;
    background-color: #008000;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}
.form__button:hover,
.form__button:focus{

    background-color: #006400;
}
.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.todo{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    font-size: 1.4rem;
    border-radius: 1rem;
    transition: all 0.2s;

}
.todo:hover{
    background-color: rgba(255, 255, 255, 0.2);

}

.mutations {
    display: flex;
    gap: 0.75rem;
}

.todo__status,
.todo__delete {
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    color: white;
    font-size: 1.6rem;

}
.todo__status:hover,
.todo__delete:hover {
    transform: scale(1.15);

}
.todo__status {
    font-size: 1.75rem;
}
@media (max-width: 420px) {
    .title {
        font-size: 2.5rem;
    }
    .form {
        width: 95%;
    }
    .todo {
        width: 95%;
        font-size: 1.2rem;
    }
}